body {
  background-image: url("/PizzaBackground.jpg");
  background-size: cover;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: hsla(0, 100%, 37%, 1);
}

nav li {
  float:left;
}

nav li a{
  display: block;
  color: white;
  text-align: center;
  padding: 1.6rem 1.8rem;
  text-decoration: none;
}

nav li a:hover {
   background-color: #fff;
   color: hsla(0, 100%, 37%, 1);
}

nav li a:active {
   background-color: #4CAF50;
}

/* .detail_form {
  background-color: #4CAF50;
  padding: 1.6rem 1.8rem;
} */

.detail_form input[type=text], select, textarea {
   width: 100%;
   padding: 12px;
   border: 1px solid #ccc;
   border-radius: 4px;
   box-sizing: border-box;
   margin-top: 6px;
   margin-bottom: 16px;
   resize: vertical;
}

.detail_form input[type=submit] {
   background-color: #4CAF50;
   color: white;
   padding: 12px 20px;
   border: none;
   border-radius: 4px;
   cursor: pointer;
}

.detail_form input[type=submit]:hover {
   background-color: #45a049;
}

.detail_form {
   border-radius: 5px;
   background-color: hsla(122, 100%, 37%, 0.62);
   padding: 20px;
   width: 40%;
   position: sticky;
   left:50vh;
   right:50vh;

}
.detail_form label {
  font-weight: bold;

}
