<form method="post" action="/pizza-orders" class="detail_form">
  <label for="first-name">First name</label>
  <input id="first-name" type="text" name="first_name" placeholder="Enter first name"/>

  <label for="last-name">Last name</label>
  <input type="text" name="last_name" id="last-name" placeholder="Enter last name">

  <label for="pizza-select"> Select a pizza:</label>
  <select id="pizza-select" name="topping">
    <option value="Margherita">Margherita</option>
    <option value="Italian sausage">Italian sausage</option>
  </select>

  <label for="quantity">Quantity</label>
  <input type="number" name="quantity" id="quantity" value="1" min="1"/>

  <input type="submit" value="Order pizza">
</form>
