<div class="redirect">
<head>
  <meta http-equiv="refresh" content="10;/pizza-orders">
</head>

<p>You order has been updated</p>
<!-- <form action="/pizza-orders/<%= @order.id() %>/delete" method="post">
  <label for="undo">You have <%= Timer.new(10) %> to </label>
  <input type="submit" value="undo" class="button" id="undo">

</form> -->
</div>
